.table-responsive {
  margin-top: 50px;
}

.track-table {
  max-width: 100%;
}

audio {
  width: 90%;
  height: 40px;
}

.track-heading {
  width: 30%;
}

.track-song {
  width: 45%;
}

.track-title {
  margin-right: 30px;
}

.image-container {
  width: 40px;height: 40px;margin-right: 20px;
}

.track-artist {
  width: 20%;
}

.track-action {
  width: 5%;
}

.image-cd {
  border-radius: 20%;
}

thead tr th span {
  font-size: 13px;
  font-weight: 400;
  color: rgba(48,48,48,0.6);
}

tbody tr td {
  vertical-align: middle;
}
